body {
    background-color: lightpink;
    height: 95vh;
    border: 3px solid white;
}
h1 {
    margin: 0;
    font-size: 5em;
    padding-top: .3em;
    font-family: "Lobster", cursive;
    letter-spacing: .1em;
}
.wrap {
    background-color: black;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
}
.title {
    background-color: lightblue;
    height: 20%;
    text-align: center;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.settings {
    background-color: lightgrey;
    height: 15%;
    display: flex;
}
.break {
    background-color: #CCD6DD;
    width: 50%;
}
.session {
    background-color: #CCD6DD;
    width: 50%;
}
.breaktop {
    border: solid 2px white;
    text-align: center;
}
.breaktop h2 {
    margin: 0px;
}
.breakbottom {
    display: flex;
    align-items: center;
    justify-content: center;

}
.breakbottom button , .sessionbottom button{
    margin-right: 1em;
    margin-left: 1em;
    font-size: 1.3em;
    background-color: white;
    border-radius: 10px;
}
.sessiontop {
    border: 2px white solid;
    text-align: center;
}
.sessiontop h2 {
    margin: 0;
}
.sessionbottom {
    display: flex;
    align-items: center;
    justify-content: center;
}
.countdown {
    background-color: slateblue;
    height: 65%;
    text-align: center;
}
.face {
    background-color: lightblue;
    position: relative;
    top:3em;
    height: 75%;
    width: 40%;
    margin: 0 auto;
    border-radius: 50%;
}
.facetime {
    position: relative;
    top: 1em;
}
.countdown button {
    font-family: "Lobster", cursive;
    font-size: 1.4em;
}
.start {
    background-color: lightgreen;
    color: green;
}
.pause {
    background-color: lightblue;
    color: blue;
    margin: 0 1.3em;
}
.stop {
    background-color: lightpink;
    color: red;
}
